<div ng-controller="EditorCtrl" class="col-lg-12 col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Text Analyzer</h4>
    </div>
    <div class="content">
      <form ng-submit="analyze()">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <textarea ng-model="editor.text" rows="8" class="form-control border-input" placeholder="..."></textarea>
            </div>
          </div>
          <div class="col-md-4">            
              <div ng-show="success">
                <p>Numer of words: {{wordCount}}</p>
                <p>Number of character: {{characterCount}}</p>  
              </div>
              <div ng-show="failure">
                <span>Error: {{error}}</span>
              </div>            
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd pull-left">Analyze Text</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
